.user-editor {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.existing-users {
  display: flex;
  flex-wrap: wrap;;
  padding: 8px;

  .user-editor-user {
    padding: 1px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease-in-out;

    &.no-match {
      opacity: 0.4;
      transition: opacity .25s ease-in-out;
    }
  }
}

.user-editor-input-box {
  padding-left: 8px;
  padding-right: 8px;
}

.addable-users {
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 300px;
  overflow: auto;

  .user-editor-user .user {
    cursor: pointer;
  }
}
